@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  scroll-behavior: smooth;
}
.char {
  display: inline-block;
  will-change: transform, opacity;
}
@font-face {
  font-family: "MyCustomFont";
  src: url("/public/fonts/NuberNextWide-Black.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* tailwind.css */
/* Hide scrollbar in all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}